:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest:#111827;
    --grey:#6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light:#eee;
    font-family:'Fira Sans',sans-serif ;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--dark);
    color: #fff;
}
header{
    width: 100%;
    max-width: 800px;
    padding: 2rem 1rem;
    margin: 0 auto;
}
header h1{
    color: var(--darker);
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family:'Fira Sans',sans-serif;
    
    
}
#task-id{
    display: flex;
    

}
input,button{
    appearance: none;
    background:none;
    border: none;
    outline: none;
}
#new-input-task{
    flex: 1;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--darkest);
    color: #fff;

}
#new-input-task::placeholder{
    color:gray;
}
#new-submit-task{
    font-size: 1.5rem;
    font-weight:700;
    margin-left:1rem;
    background-image: linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip:text;
    color: transparent;
    cursor: pointer;

}
main h2{
    color: var(--darker);
    font-size: 2rem;
    font-weight: 300;
    font-family:'Fira Sans',sans-serif;

}
main {
    width: 100%;
    max-width: 800px;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.task{
    display:flex;
    justify-content: space-between;
    background-color: var(--darker);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;

}



.content{
    flex:1;

}
.text{
    font-size: 1rem;
    color: #eee;
}
.edit{
    font-size: 1.2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip:text;
    color: transparent;
    cursor: pointer;
    text-transform: uppercase;

}
.delete{
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 10px ;
    color: crimson;
    cursor: pointer;
    text-transform: uppercase;
}



